

<div class="userHeading container">
  <h3 class="userTitle">Climber Stats</h3>
</div>
<div class="container detail">
  <h4 class="climberName">{{user.firstName + " " + user.lastName}}</h4>
  <h5 class="climberName">{{user.location + " " + user.age}}</h5>
  <h6 class="climberName">Bio: {{user.bio}}</h6>
 
</div>
<!-- table displays user routes -->
<div class="container routeListTable">
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-4" scope="col">Route</th>
        <th class="col-md-4" scope="col">Location</th>
        <th class="col-md-2" scope="col">Rating</th>
        <th class="col-md-2" scope="col">Points</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="routeBody table-striped">
      <tr ng-repeat="route in routes"  ui-sref="app.routeInfo({id: route.id})">
        <td class=" col-md-4 userRoutes">{{route.name}}</td>
        <td class="col-md-4 userRoutes">{{route.location}}</td>
        <td class=" col-md-2 userRoutes">{{route.rating}}</td>
        <td class=" col-md-2 userRoutes">{{route.points}}</td>

        
      </tr>
    </tbody>
  </table>
</div>

